<a href="https://colab.research.google.com/github/Vaishnavi-eng137/BidonHomes/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data-Science-Mentorship-Program-By-CampusX")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [4]:
# Write your code here
celcius = int(input("Please enter celcius:"))
fahrenheit = celcius*1.8 + 32  
print(celcius,"celcius = ",fahrenheit,"fahrenheit")

Please enter celcius:89
89 celcius =  192.20000000000002 fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [10]:
# Write your code here
num1 = int(input("write a number1:"))
num2 = int(input("write a number2:"))
num3 = num1
num1 = num2
num2 = num3

print("numbers swapped:",num1,num2)

write a number1:1
write a number2:2
numbers swapped: 2 1

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
# Write your code here
import math
x1 = int(input("take coordinate 1:"))
x2 = int(input("take coordinate 2:"))
y1 = int(input("take coordinate 1:"))
y2 = int(input("take coordinate 2:"))
print("euclidean distance:",math.sqrt((x2-x1)**2 + (y2-y1)**2))

take coordinate 1:1
take coordinate 2:2
take coordinate 1:1
take coordinate 2:2
euclidean distance: 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [12]:
# Write your code here
principal = int(input("The value of principal amount:"))
interest = int(input("The rate of interest:"))
time = int(input("The time period:"))
print("simple interst is =",(principal*interest*time)/100)

The value of principal amount:6000
The rate of interest:6
The time period:4
simple interst is = 1440.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [13]:
# Write your code here
#not solved
heads = int(input("total heads are:"))
legs = int(input("total legs are:"))
print("number of dogs:",legs//6,"number of chicken:",legs//6)

total heads are:6
total legs are:20
number of dogs: 3 number of chicken: 3

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [16]:
# Write your code here
n = int(input("first n natural numbers:"))
print("sum of squares:",((n*(n+1)*(2*n +1))//6))

first n natural numbers:3
sum of squares: 14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [19]:
# Write your code here
t1 = int(input("first term: "))
t2 = int(input("Second term: "))
t3 = int(input("To find the term: "))
print("value of nth term:",t1+((t3-1)*(t2-t1)))

first term: 4
Second term: 6
To find the term: 3
value of nth term: 8

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
# Write your code here
nu1 = int(input("numerator1:"))
de1 = int(input("denominator1:"))
nu2 = int(input("numerator2:"))
de2 = int(input("denominator2:"))
sum = (nu1/de1)+(nu2/de2)
print("sum of fraction is:",sum)

numerator1:3
denominator1:3
numerator2:4
denominator2:4
sum of fraction is: 2.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
# Write your code here
height = int(input("height of the tank:"))
width = int(input("width of the tank:"))
breadth = int(input("breadth of the tank:"))
height_glass = int(input("height of the glass:"))
radius_glass = int(input("radius of the glass:"))
vol_glass = 3.14*(radius_glass)**2*height_glass
vol_tank = height*width*breadth
print("glasses of milk obtained:",vol_tank//vol_glass)

height of the tank:12
width of the tank:10
breadth of the tank:7
height of the glass:2
radius of the glass:2
glasses of milk obtained: 33.0